.App {
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.navbar {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: pink;
}

.navlink {
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: xx-large;

}

.productCards {
    text-align: 'center';
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.productShowPage{
    padding-top: 2em;
    justify-content: center;
    justify-items: center;
}

.productPageImage{
    @media only screen and (max-width: 375px){
        width: 25%;
    }

}

.company{
    font-weight: 300;
}

form{
    display: inline-block;
}

form input, form textarea{
    padding: 4px;
    margin: 4px;
    display: block;

}